*, ::after,::before{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(16, 3, 29);
}
#game{
    background-color: white;
    padding: 10px;
    max-width: 500px;
    max-height: 500px;
}
#stats, #controls{
    border: 1px solid black;
    padding: 10px;
}
button{
    background-color: rgb(243, 170, 35);
    border: none;
    height: 25px;
    cursor: pointer;
    border-radius: 2px;
    padding: 5px;
}
#text{
    background-color: black;
    color: white;
    padding: 10px;
}
.stat{
    margin-right: 10px;
}
#monsterStats{
    display: none;
    background-color: red;
    color: white;
}